@import '../style/theme';

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item {
  margin-bottom: 0;
}

.tile {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  transform: scale(0.975);
  border: 2px solid #eee;
  background-color: $bg-field;
}

.tile:hover {
  transform: scale(1)
}

.tile.disabled {
  background-color: $disabled;
}
